# pandas==2.1.0
# numpy==1.27.0
# matplotlib==3.8.0
# Cinemagoer==2023.10.3

# Core libraries
pandas
numpy

# Visualization
matplotlib
seaborn

# For IMDb data
Cinemagoer

# Web app (optional / bonus)
streamlit
